@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    font-family: 'Piazzolla', serif;
    color: #373940;
    font-size: 62.5%;

    background-color:#ffffff;
}

@media screen and (max-width: 767px) {
    html, body {
        font-size: calc(10px + 13 * (100vw - 320px) / 447);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    html, body {
        font-size: calc(10px + 4 * (100vw - 768px) / 255);
    }
}

@media (min-width: 1024px) and (max-width: 1360px) {
    html, body {
        font-size: calc(8px + 2 * (100vw - 1024px) / 336);
    }
}

h1 {
    margin: 0 auto;

    text-align: center;
    font-weight: 700;
    font-size: 6.4rem;
}

h2 {
    margin: 0 auto;

    text-align: center;
    font-weight: 500;
    font-size: 3.2rem;
}

.send-json__wrapper {
    width: 95%;
    position: relative;
    margin: 0 auto;
    margin-top: 5rem;

    text-align: center;
}

.sendjson-button {
    width: 100%;
    max-width: 29rem;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    height: 6rem;
    display: flex;

    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500;

    background: rgb(98, 192, 255);
    cursor: pointer;
    border-radius: 0.3rem;
}

.send-json__wrapper input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.sendjson__icon-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem;

    border-right: 0.1rem solid #fff;
}

.sendjson-button-text {
    line-height: 1;
    margin-top: 0.1rem;
}

.clear-button {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 29rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    color: #ffffff;
    font-size: 1.6rem;
    font-family: inherit;

    border: none;
    border-radius: 0.3rem;
    background-color: rgb(255, 125, 125);
    cursor: pointer;
    outline: none;
}

#app {
    margin: 0 auto;
    width: 50rem;

    text-align: center;
}

#app form {
    padding: 1.5rem;

    border: 0.1rem solid rgb(201, 201, 201);
    background-color: rgb(255, 189, 241);
    border-radius: 0.3rem;
}

#app form h1 {
    font-size: 3.2rem;
    color: #ffffff;
}

#app form select {
    outline: none;
    border-radius: 0.3rem;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__label {
    margin-bottom: 0.5rem;

    color: #ffffff;
    font-size: 1.6rem;
}

.form__control {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.5rem;

    font-family: inherit;
    text-align: center;

    border: none;
    outline: none;
    border-radius: 0.3rem;
}

.form__control[type="file"] {
    margin: 0 auto;
    color: #fff;
}

.form__control::placeholder {
    text-align: center;
    font-family: 'Piazzolla', serif;
}

.form__button {
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 2rem;

    font-size: 1.6rem;
    color: #ffffff;
    font-family: inherit;

    border: none;
    background: rgb(154, 214, 255);
    border-radius: 0.3rem;
    cursor: pointer;
    outline: none;
}

.form__button:last-child {
    margin-right: 0;
}

.form__group input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    margin: 0 auto;
    outline: none;
}

.form__group span {
    display: inline-block;

    color: #ffffff;
    font-size: 1.6rem;
}

.form__group a {
    display: inline-block;
    color: #94f3ff;
    font-size: 1.6rem;
    text-decoration: none;
}

@media (max-width: 767px) {
    #app {
        width: 95%;
    }

    .form__button {
        margin-right: 0;
        margin-top: 1rem;
    }
}